{% extends 'base.html' %}
{% block page-header %}
<link rel="stylesheet" href="/static/dist/bootstrap-multiselect-master/css/bootstrap-3.0.3.min.css" type="text/css"/>
<link rel="stylesheet" href="/static/dist/bootstrap-multiselect-master/css/bootstrap-multiselect.css" type="text/css"/>
{% endblock %}
{% block  page-content %}
		<div class="row">
                  <div class="col-lg-12">
                      <!--breadcrumbs start -->
                      <ul class="breadcrumb">
                          <li><a href="/account/ip_list/"><i class="icon-home"></i>机器管理</a></li>
                          <li class="active">命令批量执行</li>
                      </ul>
                      <!--breadcrumbs end -->
                  </div>
        </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            命令批量执行
                        </div>
                    <div  class="panel-body">
                    <form class="form-horizontal nice-validator n-yellow" method="post"  action="/cmdb/multi_cmd/" id="multcmd" >
                        <div class="form-group"><label class="col-sm-2 control-label">执行类型</label>
                                <div class="col-sm-4">
                                    <select class="form-control" name="exec_type" id="exec_type" required>
                                       <option value="ip_list">执行机器</option>
                                       <option value="ip_group">执行机器组</option>
                                    </select>
                                </div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">执行机器</label>
                                <div class="col-sm-4">
                                    <select class="multiselect" multiple="multiple" name="iplist" id="iplist" >
                                        {% for i in Iplist %}
                                        <option value="{{i.id}}">{{i.name}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">执行机器组</label>
                                <div class="col-sm-4">
                                    <select class="multiselect" name="ipgrouplist" id="ipgrouplist" multiple="multiple">
                                        {% for i in IpGrouplist %}
                                                <option value="{{i.id}}">{{i.name}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                        </div>
						 <div class="form-group"><label class="col-sm-2 control-label">执行的命令</label>
                            <div class="col-sm-6"><textarea class="form-control" rows="5" name='cmd_name' id="cmd_name"></textarea></div>
                        </div>
                         {% csrf_token %}
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-5">
                                <button type="reset" class="btn btn-primary" href="#" > 重置 </button>
                                <button type="button" class="btn btn-primary" id="opt_cmd" value="提交"> 提交 </button>
                            </div>
                        </div>
                    </form>
					</div> <!-- /.panel-body -->
					
                    </div> <!-- /.panel -->
                </div>
            </div>
		<div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        命令执行的结果：
			<button class="btn btn-xs btn-info" id="hostnums">主机数：0</button>
			<button class="btn btn-xs btn-success" id="successnums">成功数：0</button>
			<button class="btn btn-xs btn-danger" id="failednums">失败数：0</button>
                    </div>
                		<div class="panel-body" id='result'>
				</div> <!-- /.panel-body -->
		</div> <!-- /.panel -->
	    </div> <!-- /.col-lg-12 -->
	</div><!-- /.row -->

			<!-- 模态框 -->
           <div class="modal fade" id="myModal" tabindex="-1" role="dialog"  id="myModal" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">系统提示</h4>
                  </div>
                  <div class="modal-body">
                         <p id="getdata">ddddddd</p>
                  </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <a class="btn btn-primary" href="/cmdb/multi_cmd/">确定</a>

                    </div>
                </div>
              </div>
           </div>


    {% endblock %}
{% block  page-script %}
<script type="text/javascript" src="/static/dist/bootstrap-multiselect-master/js/bootstrap-multiselect.js"></script>
<script type="text/javascript">

$(document).ready(function() {

    $('.multiselect').multiselect({
	includeSelectAllOption: true,
	enableCaseInsensitiveFiltering: true,
	});




    $("#opt_cmd").click(function(){
	$("#opt_cmd").attr("class","btn btn-primary disabled")
	$("#opt_cmd").text("正在执行")
	var ip_list=new Array();
	var ipgroup_list=new Array();
	var cmds = $("#cmd_name").val();
	$('#iplist option:selected').each(function(i,item){
		ip_list[i]=(item.value)

	});
	$('#ipgrouplist option:selected').each(function(i,item){
		ipgroup_list[i]=(item.value)

	});
	if ( (ip_list.length == 0) && (ipgroup_list.length == 0) ) {
	    	alert("主机或者主机组选项为空")
		$("#opt_cmd").attr("class","btn btn-primary")
		$("#opt_cmd").text("提交")

	};
	if (cmds.length == 0){
	    	alert("命令为空")
		$("#opt_cmd").attr("class","btn btn-primary")
		$("#opt_cmd").text("提交")
	};
        $.ajax({url:'/cmdb/multi_cmd/',
                      type:'post',
                      data:{
        		exec_type1: $("#exec_type").val(),
			iplist1: ip_list,
        		ipgrouplist1: ipgroup_list,
        		cmd_name1: $("#cmd_name").val(),
                        csrfmiddlewaretoken:'{{ csrf_token }}',
                      },
                        success:function(arg){
			  var obj = jQuery.parseJSON(arg)
                          console.log(obj.result);
			  $("#opt_cmd").attr("class","btn btn-primary");
			  $("#opt_cmd").text("提交");
			  $("#result").html(obj.result);
			$("#hostnums").html("主机数："+obj.count_ip);
			$("#failednums").html("失败数："+obj.failed_ip);
			$("#successnums").html("成功数："+obj.success_ip);
                         },
                });
	});
});
</script>
{%endblock%}
