{% extends 'base.html' %}
{% block main-head %}
<link href="/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}
{% block page-title %}
yw
{% endblock %}
{% block page-header %}
{% endblock %}
{% block page-content %}
	<div class="row">
                  <div class="col-lg-12">
                      <!--breadcrumbs start -->
                      <ul class="breadcrumb">
                          <li><a href="/cmdb/task_add/"><i class="icon-home"></i>任务管理</a></li>
                          <li class="active">任务明细</li>
                      </ul>
                      <!--breadcrumbs end -->
                  </div>
    </div>
		<!-- /.row -->
            <div class="row">
                <!-- /.col-lg-12 -->
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
							任务明细
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
											<th>id</th>
                                            <th>IP</th>
                                            <th>执行命令</th>
                                            <th>命令结果</th>
                                            <th>状态</th>
                                            <th>备注</th>
                                            <th>所属任务</th>
                                        </tr>
                                    </thead>
                                    <tbody>
											{% for i in taskdata%}
                                        <tr class="gradeU">
                                            <td>{{i.id}}</td>
                                            <td>{{i.ip}}</td>
                                            <td>{{i.task_cmds}}</td>
                                            <td>{{i.task_result}}</td>
											<td class="text-center">{% if i.task_status == "1" %}
                                                  <button class="btn btn-xs btn-success">成功</button>
                                                  {%else%}
                                                  <button class="btn btn-xs btn-danger">失败</button>
                                                  {% endif%}
                                            </td>
                                            <td>{{i.remark}}</td>
                                            <td>{{i.task_id.name}}</td>
                                        </tr>
											{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
					</div>
                </div>
    </div>
{% endblock %}
{% block page-script%}
<!-- DataTables JavaScript -->
<script src="/static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/static/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
				"bSort": false,
				"sPaginationType": "full_numbers",
				"oLanguage": {
				"sLengthMenu": "每页显示 _MENU_条",
				"sZeroRecords": "没有找到符合条件的数据",
				"sProcessing": "&lt;img src=’./loading.gif’ /&gt;",
				"sInfo": "当前第 _START_ - _END_ 条　共计 _TOTAL_ 条",
				"sInfoEmpty": "木有记录",
				"sInfoFiltered": "(从 _MAX_ 条记录中过滤)",
				"sSearch": "搜索：",
				"oPaginate": {
					"sFirst": "首页",
					"sPrevious": "前一页",
					"sNext": "后一页",
					"sLast": "尾页"
				}
			}
        });
    });
    </script>
{% endblock %}
