{% extends 'base.html' %}
{% block main-head %}
{% endblock %}
{% block page-title %}
yw
{% endblock %}
{% block page-header %}
{% endblock %}
{% block page-content %}
<!-- /.row -->
<div class="row">
    <!-- /.col-lg-12 -->
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
               zabbix数据展示
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
		<div class="col-lg-2">
		xxxxxxxxxxxxxxxx
		</div>
		<div class="col-lg-10">
                ddddddddddddddddd
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}
{% block page-script%}




{% endblock %}
